<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>


  <label>Are you afilliated with a Shelter or Rescue Program?<br />
    Do you want to list pets for adoption?</label>

   <p>
    <label for="user[affiliate][yes]" class="radio inline">
        <input type="radio" name="user[affiliate]" id="user[affiliate][yes]" value="true" /> Yes
    </label> 
    <label for="user[affiliate][no]" class="radio inline">
        <input type="radio" name="user[affiliate]" id="user[affiliate][no]" value="false" /> No
    </label>
   </p>

   <%= f.submit "Submit", :class => "btn btn-success" %>
  </fieldset>
<% end %>

<%= render "devise/shared/links" %>
