<%= form_for @pet, :html => {:id=> "pet_form", :class => "ajaxy_form"} do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class =>"validate[required]" %>
  </div>


  <div class="field">
    <%= f.label :save_date %><br />
    <%= f.text_field :save_date, :class => "validate[required]" %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :rows => '10' %>
  </div>

  <input type="submit" value="wot" />
<% end %>
  <%= render 'shared/uploader_form' %> 

<button type="button" id="pet_form_submit">Submit</button>

