<%= form_for @pet, :html => {:id=> "pet_form", :class => "ajaxy_form"} do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pet_species, "Species" %>
    <select name="pet[pet_species_id]">
      <% PetSpecies.all.each do |ps| %>
      <option value="<%= ps.id %>"><%= ps.name %></option>
       <% end %>
    </select>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class =>"validate[required]" %>
  </div>

  <div class="field" id="save_date">
    <%= f.label :save_date %>
    <p>
      <%= f.text_field :save_date, :class => "datepicker" %>
      <!-- <label for="pet[nokill]">no kill</label><input type="checkbox"  id="pet[nokill]" /> -->
    </p>
    <span>If the pet is going to be Euthanized</span>
  </div>

  <div class="field" id="age_fields">
    <%= f.label :age %>
    <%= f.number_field :age_years %>
    <%= f.number_field :age_months %>
    <select name="pet[age_confirmed]">
      <option value="true">Exactly</option>
      <option value="false">Approximately</option>
    </select>
    <br />
    <span>Years</span><span>Months</span>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes, :rows => '10' %>
  </div>

<% end %>
  <%= render 'shared/uploader_form' %> 

<button class="btn btn-success" type="button" id="pet_form_submit">Submit</button>

