<%= form_for @pet, :html => {:id=> "pet_form"} do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => "pets/fields", :locals => {:f => f} %>

<% end %>
  <%= render 'shared/uploader_form' %> 

<button class="btn btn-success" type="button" id="pet_form_submit">Submit</button>

