<h1>Pets Near You That Need Help</h1>

<% @pets.each do |pet| %>

<div class="pet_cell">
  <img src="" alt="<%= pet.name %>" height="50" width="50"/>
  <h2><%= pet.name %></h2>
  <span><%= pet.age %></span>
  <p><%= pet.notes %></p>
  <!-- <%= link_to 'Show', pet %> -->
  <!-- <%= link_to 'Edit', edit_pet_path(pet) %> -->
  <!-- <%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %> -->
</div>

<% end %>



