<div class="pet_cell row">
  <% unless pet.pet_images.first.nil? %>
  <img src="<%= pet.pet_images.first.photo.url(:thumb) %>" alt="<%= pet.notes %>" height="150" width="150"/>
  <% end %>
  <h2><%= pet.name %></h2>
  <p>Age: <%= pet.age %><p>
  <p><%= pet.notes %></p>
  <nav>
    <%= link_to 'Learn More', pet %>
    <% if !current_user.nil? and (current_user.id == pet.user_id) %>
      <%= link_to 'Edit', edit_pet_path(pet) %>
      <%= link_to 'Delete', pet, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <span class='st_facebook_large' displayText='Facebook'  st_url="<%= pet_url(pet) %>" st_summary="<%= pet.notes %>" ></span>
    <span class='st_twitter_large' displayText='Tweet' st_url="<%= pet_url(pet) %>" st_summary="<%= pet.notes %>"></span>
    <span class='st_email_large' displayText='Email' st_url="<%= pet_url(pet) %>" st_summary="<%= pet.notes %>"></span>
    <span class='st_fbrec_large' displayText='Facebook Recommend' st_url="<%= pet_url(pet) %>" st_summary="<%= pet.notes %>"></span>
    <span class='st_fblike_large' displayText='Facebook Like' st_url="<%= pet_url(pet) %>" st_summary="<%= pet.notes %>"></span>
  </nav>
</div>
