<!DOCTYPE html>
<html>
<head>
  <title>Bertslist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "e8005f24-cf8c-4f87-837e-d269f4401148"}); </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/global_head_nav" %>

<div class="container">
  <% if notice %>
  <div class="notice"><%= notice %></div>
  <% end %>
  <% if alert %>
  <div class="alert"><%= alert %></div>
  <% end %>

  <div class="row">
    <div class="span8">
      <%= yield %>
    </div>
  </div>

</div>
</body>
</html>
