<!DOCTYPE html>
<html>
<head>
  <title>Bertslist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  
  <% if notice %>
  <div class="notice"><%= notice %></div>
  <% end %>
  <% if alert %>
  <div class="alert"><%= alert %></div>
  <% end %>

  <div class="row">
    <div class="span4">
      <%= render "shared/sidebar" %>
    </div>
    <div class="span8">
      <%= yield %>
    </div>
  </div>

</div>
</body>
</html>
